.App {
  margin: auto;
  max-width: 700px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Chart {
  margin-top: 10px;
  border: 1px solid rgb(196,196,196);
  border-radius: 5px;
  padding: 5px 10px 10px 5px;
  background-color: #ffffff;
  height: 60vh;
  max-height: 300px;
}

.Options{
  margin-top: 10px;
  border: 1px solid rgb(196,196,196);
  border-radius: 5px;
  background-color: #ffffff;
  text-align: left;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 12pt;
}

.Dropdown {
  text-align: left;
}

h3 {
  font-size: 16pt;
}

.Footer {
  font-size: 8pt;
  color: #929292;
}
.Footer a {
  color:  #424242
}